@model JobPlatform.Web.ViewModels.Companies.CompanyCreateViewModel
@{
    this.ViewData["Title"] = "Create company";
    var url = Model?.LogoPicture;
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="CreateCompany" class="col" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="preview text-left col-4 btn-file">
                @if (@url != null)
                {
                    <img id='img-upload' class="img-fluid img-thumbnail" src="@url" alt="Preview Image" width="200" height="200" />
                }
                else
                {
                    <img id='img-upload' class="img-fluid img-thumbnail" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200" />
                }
                <input id="imgInp" class="tox-button--icon" type="file" asp-for="PictureFile">
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="col">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CompanyDescription" class="control-label"></label>
                    <textarea asp-for="CompanyDescription" class="form-control"></textarea>
                    <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CompanyWebsite" class="control-label"></label>
                    <input asp-for="CompanyWebsite" class="form-control" />
                    <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="FacebookWebsite" class="control-label"></label>
                    <input asp-for="FacebookWebsite" class="form-control" />
                    <span asp-validation-for="FacebookWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="TwitterWebsite" class="control-label"></label>
                    <input asp-for="TwitterWebsite" class="form-control" />
                    <span asp-validation-for="TwitterWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="LinkedInWebsite" class="control-label"></label>
                    <input asp-for="LinkedInWebsite" class="form-control" />
                    <span asp-validation-for="LinkedInWebsite" class="text-danger"></span>
                </div>
                <hr />
                <div class="col">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
