@model JobPlatform.Web.ViewModels.Companies.CompanyEditViewModel
@{
    this.ViewData["Title"] = "Edit company";
    var url = Model?.LogoPicture;
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="EditCompany" class="col" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="preview text-left col-4 btn-file">
                @if (@url != null)
                {
                    <img id='img-upload' class="img-fluid img-thumbnail" src="@url" alt="Preview Image" width="300" height="300" />
                }
                else
                {
                    <img id='img-upload' class="img-fluid img-thumbnail" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200" />
                }
                <input id="imgInp" class="col card-text" type="file" asp-for="PictureFile">
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="col">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CompanyDescription" class="control-label"></label>
                    <textarea asp-for="CompanyDescription" class="form-control"></textarea>
                    <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CompanyWebsite" class="control-label"></label>
                    <input asp-for="CompanyWebsite" class="form-control" />
                    <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="FacebookWebsite" class="control-label"></label>
                    <input asp-for="FacebookWebsite" class="form-control" />
                    <span asp-validation-for="FacebookWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="TwitterWebsite" class="control-label"></label>
                    <input asp-for="TwitterWebsite" class="form-control" />
                    <span asp-validation-for="TwitterWebsite" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="LinkedInWebsite" class="control-label"></label>
                    <input asp-for="LinkedInWebsite" class="form-control" />
                    <span asp-validation-for="LinkedInWebsite" class="text-danger"></span>
                </div>
                <hr />
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="submit" id="edit" value="Edit" class="btn btn-danger"/>    |
            </div>
        </form>
       
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready( function() {
            $(document).on('change', '.btn-file :file', function() {
                var input = $(this)});

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function(){
                readURL(this);
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
