@model JobPlatform.Web.ViewModels.Companies.CompanyViewModel

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Company">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWebsite" class="control-label"></label>
                <input asp-for="CompanyWebsite" class="form-control" />
                <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookWebsite" class="control-label"></label>
                <input asp-for="FacebookWebsite" class="form-control" />
                <span asp-validation-for="FacebookWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterWebsite" class="control-label"></label>
                <input asp-for="TwitterWebsite" class="form-control" />
                <span asp-validation-for="TwitterWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedInWebsite" class="control-label"></label>
                <input asp-for="LinkedInWebsite" class="form-control" />
                <span asp-validation-for="LinkedInWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoPicture" class="control-label"></label>
                <input asp-for="LogoPicture" class="form-control" />
                <span asp-validation-for="LogoPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
